.header{

background-color: rgb(85, 126, 110) ;
display: flex;
justify-content: space-between;


}

.headerText{

  font-weight: bold;
  position: relative;
  left: 40rem;
  margin-top: 0.3rem;

}

.selection{

position: relative;
left: 56.4rem;
margin-top: 0.5rem;
margin-bottom: 0.5rem;
background-color: rgb(230, 217, 230);
font-weight: bold;


}

.searchBox{

position: relative;
left: 9.8rem;
margin-top: 0.5rem;
margin-bottom: 0.5rem;
background-color: rgb(223, 221, 211);

}

.resetButton{

margin-top: 0.4rem;
margin-bottom: 0.5rem;
margin-right: 1rem;
position: relative;
right: 3rem;
background-color: rgba(104, 63, 63, 0.788);
color: white;
font-weight: bold;
}

.mainPage{

text-align: center;
background-color: #fff;
align-items: center;
justify-content: center;
text-align: center;

}

.dataContainer{

  text-align: center;
  font-weight: bold;

}

.editModal {
  
  border: solid;
  border-style: groove;
  border-color: teal;
  text-align: center;
  background-color: rgb(202, 235, 232);
  position: fixed;
  top: 30%;
  left: 35%;
  width: 25rem;
  height: 17rem;
  
  
 
}
.modalTextBox{

  margin-top: 4rem;
  border-style:groove ;
  border-width: 0.15rem;
  border-color: rgb(233, 163, 151);
  background-color: rgb(253, 242, 253);
  margin-right: 1rem;
}

.titleLabel{

margin-right: 0.6rem;
font-weight: bold;

}

.modalSelection{

  margin-left: 0.3rem;
  background-color: rgb(191, 180, 255);

}

.modalCloseBtn{

 
 margin-top: 4rem;
 padding-left: 1.8rem;
 padding-right: 1.8rem;


}

.modalSaveBtn{

   margin-left: 5rem;
   margin-top: 4rem;
   padding-left: 2rem;
   padding-right: 2rem;
 
}